<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h1>Your Pragmatic Catalog  (<b> <%= pluralize(session[:counter], 'count') %> </b>)</h1>

<% @products.each do |product| %>
    <div class="entry">
      <%= image_tag(product.image_url) %>
      <h3><%= product.title %></h3>
      <%= sanitize(product.description) %>
      <div class="price_line">
        <!-- START:currency -->
        <span class="price"><%= number_to_currency(product.price) %></span>
        <!-- START_HIGHLIGHT -->
        <%= button_to 'Add to Cart', { :action => :on_add_to_cart}, { :method => :get , :product_id => product } %>
        <!-- END_HIGHLIGHT -->
        <!-- END:currency -->
      </div>
    </div>

<% end %>
